

body {
	min-width: 550px;
	width : 550px;
}
body.popup_body {
	max-width: 250px;
	min-width: 0;
}
#save-folder-tree {
	border: 1px solid #444;
	overflow: hidden;
}
#caught_link {
	white-space: nowrap;
	text-overflow : ellipsis;
	overflow: hidden;
}
.row {
	margin: 0; 
}
.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
body.popup_body #save-folder-tree-container {
	transition: all 1s;
	height : 0px;
	opacity: 0;
	overflow: hidden;
}

div#page_info_container {
  word-break: break-all;
}

button.btn.disabled {
	pointer-events: none;
}
body.popup_body .jstree-contextmenu {
	display: none!important;
	pointer-events: none;
}