

body {

}
#save-folder-tree {
	border: 1px solid #444;
}
#caught_link {
	white-space: nowrap;
	text-overflow : ellipsis;
	overflow: hidden;
}
.btn {
	margin-top: 5px;
	margin-bottom: 5px;
}
body.popup_body #save-folder-tree-container {
	transition: all 1s;
	height : 0px;
	opacity: 0;
	overflow: hidden;
}

div#page_info_container {
  word-break: break-all;
}

button.btn.disabled {
	pointer-events: none;
}
body.popup_body .jstree-contextmenu {
	display: none!important;
	pointer-events: none;
}